
<ActionBar 
    class="action-bar">
    <Label 
        class="text-center action-bar-title"
        text="Restomizer" ></Label>
    <ActionItem 
        ios.systemIcon="2" 
        android.systemIcon="ic_menu_edit" 
        (tap)="openSearchOptions()"></ActionItem>
</ActionBar>

<GridLayout 
    class="page"
    rows="*, 2*, auto"
    columns="*, auto" 
    width="100%"
    height="100%">
    
    <!--
    <SearchBar 
        color="white" 
        textFieldHintColor="white"
        textFieldBackgroundColor="pink" 

        row="0"
        col="0"
        hint="Search Location" 
        (textChange)="onTextChanged($event)" 
        (submit)="onSubmit($event)"></SearchBar>
    -->

    <!-- Card, when businesses is empty -->
    <GridLayout
        class="m-10"
        *ngIf="businesses$.value.length == 0">
        <Label
            horizontalAlignment="center"
            verticalAlignment="center"
            text="No restaurant found!"></Label>
    </GridLayout>
    
    <!-- Card, when businesses is populated -->
    <StackLayout 
        class="m-10"
        row="0"
        col="0"
        colspan="2"
        *ngIf="businesses$.value.length != 0">

        <GridLayout
            rows="auto, auto, auto, auto, *"
            columns="2*, 3*" 
            width="100%"
            height="100%">

            <!-- Left Column -->
            <Image
                class="img-rounded"
                row="0"
                col="0"
                rowspan="5"
                stretch="aspectFill"
                [src]="business.image_url"></Image>

            <!-- Right Column -->
            <Label
                class="font-weight-bold h4 m-x-10"
                style.whiteSpace="normal"
                row="0"
                col="1"
                [text]="business.name"></Label>
            <Label
                class="m-x-10"
                style.whiteSpace="normal"
                row="1"
                col="1"
                [text]="business.price + ' - ' + getCategories()"></Label>
            <Label
                class="m-x-10"
                style.whiteSpace="normal"
                row="2"
                col="1"
                [text]="business.rating + ' out of 5, ' + business.review_count + ' reviews'"></Label>
            <Label
                class="m-x-10"
                style.whiteSpace="normal"
                row="3"
                col="1"
                [text]="business.location != null ? business.location.address1 : ''"></Label>
            <StackLayout
                class="pull-right"
                verticalAlignment="bottom"
                row="4"
                col="1"
                orientation="horizontal">

                <Label
                    class="fa h3 p-x-15"
                    opacity="0.5"
                    [text]="'fa-map-marker' | fonticon"
                    (tap)="centerToCurrentBusiness()"></Label>
                <Label
                    class="fa h3 p-x-15"
                    opacity="0.5"
                    [text]="'fa-chrome' | fonticon"
                    (tap)="openInBrowser()"></Label>
                <Label
                    class="fa h3 p-x-15"
                    opacity="0.5"
                    [text]="'fa-map' | fonticon"
                    (tap)="openDirections()"></Label>
            </StackLayout>


        </GridLayout>
    </StackLayout>

    <!-- Map -->
    <StackLayout 
        row="1"
        col="0"
        colspan="2">

        <MapView 
            (mapReady)="onMapReady($event)"></MapView>
    </StackLayout>

    <!--  Buttons -->
    <Button 
        class="btn btn-primary"
        row="2" 
        col="0"
        colspan="2"
        text="Randomize!"
        (tap)="checkSearchOptionAndRandomize()"></Button>
    <!--
    <Button 
        class="btn"
        row="3" 
        col="1"
        text="Clear cache"
        (tap)="clearCache()"></Button>
    -->
</GridLayout>