<StackLayout
    class="page">

    <StackLayout
        class="action-bar p-10">
        <Label 
            class="text-center action-bar-title"
            text="Filters" ></Label>
    </StackLayout> 

    <Label
        class="h4 font-weight-bold m-10"
        text="Price: "></Label>

    <GridLayout
        class="m-x-10 m-y-5"
        rows="auto, auto,"
        columns="auto, auto, auto, auto">

        <Label
            class="h5"  
            row="0"
            col="0"
            horizontalAlignment="center"
            text="₱"></Label>
        <Label
            class="h5"
            row="0"
            col="1"
            horizontalAlignment="center"
            text="₱₱"></Label>

        <Label
            class="h5"
            row="0"
            col="2"
            horizontalAlignment="center"
            text="₱₱₱"></Label>
        <Label
            class="h5"
            row="0"
            col="3"
            horizontalAlignment="center"
            text="₱₱₱₱"></Label>

        <Switch 
            class="switch"
            row="1"
            col="0"
            [(ngModel)]="searchOptions.price1"></Switch>

        <Switch 
            class="switch"
            row="1"
            col="1"
            [(ngModel)]="searchOptions.price2"></Switch>

        <Switch 
            class="switch"
            row="1"
            col="2"
            [(ngModel)]="searchOptions.price3"></Switch>

        <Switch 
            class="switch"
            row="1"
            col="3"
            [(ngModel)]="searchOptions.price4"></Switch>
    </GridLayout>
        
    <!--
    <Label
        text="Radius"></Label>    
    <Slider 
        value="20" 
        minValue="10000" 
        maxValue="40000"
        (valueChange)="onSecondSliderChange($event)" ></Slider>
    -->
    
    <Button
        class="btn btn-primary"
        text="Close"
        (tap)="close()"></Button>
</StackLayout>